%h2 Kontakt
%p 
  %b 
    Imie i nazwisko
    = @person.name
  %br
  -if @person.adress
    %b 
      Adres
      = @person.adress
%p
  = render :partial => '/contacts/show_all'
%p
  = link_to 'Wróć', people_path
  = link_to 'Edytuj', edit_person_path
